.btn-outline-primary:hover {
    background-color: #7510F7 !important;
    color: white !important;
}
.btn-outline-light:hover{
    color: #7510F7 !important;
    opacity:"100%",

}
.navbar-light .navbar-toggler{
    color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("../Images/menu.svg") !important;
}
.navbar-collapse { 
    height: 8vw !important;
}