body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Eurostile;
}

@font-face {
  font-family: 'Eurostile extended';
  src: local('MyFont'), url(./fonts/EurostileExtended.ttf) format('truetype');
}

@font-face {
  font-family: 'Eurostile';
  src: local('MyFont'), url(./fonts/EuroStyleNormal.ttf) format('truetype');
}
@font-face {
  font-family: 'Eurostile bold';
  src: local('MyFont'), url(./fonts/EurostileBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Eurostile heavy';
  src: local('MyFont'), url(./fonts/eurostile-becker-heavy.ttf) format('truetype');
}